<!--Adding or linking the model to the view -->
@model PurchaseRequestApproval.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Add Employee";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
        @if (Model.Id != 0)
        {
            // edit
            title = "Edit Employee";

        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeeName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeeName" class=" form-control" />
                    <span asp-validation-for="EmployeeName" class=" text-danger"></span>
                </div>
            </div>

            <!--Adding EmployeeCode-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeeCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeeCode" class=" form-control" />

                </div>
            </div>

            <!--Adding Employee Code -->
            <!--Adding EmployeePosition-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeePosition"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeePosition" class=" form-control" />

                </div>
            </div>

            <!--Adding EmployeePosition -->
            <!--Adding EmployeePhone-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeePhone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeePhone" class=" form-control" />
                    <span asp-validation-for="EmployeePhone" class=" text-danger"></span>

                </div>
            </div>

            <!--Adding EmployeePhone -->
            <!--Adding EmployeeEmail-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeeEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeeEmail" class=" form-control" />
                    <span asp-validation-for="EmployeeEmail" class=" text-danger"></span>

                </div>
            </div>

            <!--Adding EmployeeEmail -->
            <!--Adding EmployeeSite-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeeSite"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmployeeSite" class=" form-control" />
                    <span asp-validation-for="EmployeeSite" class=" text-danger"></span>

                </div>
            </div>

            <!--Adding EmployeeSite -->


            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />

                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}