@using PurchaseRequestApproval.Utility
<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PurchaseRequestApproval</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Add CSS  files -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!-- End CSS  files -->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PurchaseRequestApproval</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @*Arrange the setup screen to showup only for admins*@

                        @if ((User.IsInRole(SD.Role_Admin_Modify)) || (User.IsInRole(SD.Role_Admin_View)))
                        {

                            <!--Add bootstrab for dropdown menu Setup-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    System Setup
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="PurchaseType" asp-action="Index">Purchase Type </a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="Shipping" asp-action="Index">Shipping Method </a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="Vendor" asp-action="Index">Vendor </a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="Employee" asp-action="Index">Employee </a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="Project" asp-action="Index">Project </a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="User" asp-action="Index">User </a>

                                </div>
                            </li>


                            <!--End of bootstrab for dropdown menu Setup-->

                        }

                        @*Arrange the setup screen to showup only for Employee*@

                        @if ((User.IsInRole(SD.Role_Admin_Modify)) || (User.IsInRole(SD.Role_Admin_View)) || (User.IsInRole(SD.Role_Employee_Modify)) || (User.IsInRole(SD.Role_Employee_View)))
                        { 
                            <!--Add bootstrab for dropdown menu Purcahse Request-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Purchase Request
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @*<a class="dropdown-item " asp-area="Admin" asp-controller="PurchaseType" asp-action="Index">Purchase Type </a>
                <a class="dropdown-item " asp-area="Admin" asp-controller="Shipping" asp-action="Index">Shipping Method </a>
                <a class="dropdown-item " asp-area="Admin" asp-controller="Vendor" asp-action="Index">Vendor </a>
                <a class="dropdown-item " asp-area="Admin" asp-controller="Employee" asp-action="Index">Employee </a>
                <a class="dropdown-item " asp-area="Admin" asp-controller="Project" asp-action="Index">Project </a>*@
                                <a class="dropdown-item " asp-area="Employee" asp-controller="VendorContact" asp-action="Index">Vendor Contact </a>
                                <a class="dropdown-item " asp-area="Employee" asp-controller="Quote" asp-action="Index">Quote </a>
                                <a class="dropdown-item " asp-area="Employee" asp-controller="PRApproval" asp-action="Index">PR Approval </a>
                                <a class="dropdown-item " asp-area="Employee" asp-controller="PRAQuote" asp-action="Index">PRA Quote </a>

                            </div>
                        </li>


                        <!--End of bootstrab for dropdown menu Purchase Request-->
                        }






                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-white-50 bg-primary">
        <div class="container">
            &copy; 2020 - PurchaseRequestApproval
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Add Java script files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <!-- End Java script files -->

    @RenderSection("Scripts", required: false)


</body>
</html>
