<!--Adding or linking the model to the view -->
@model PurchaseRequestApproval.Models.Shipping
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Shipping";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
        @if (Model.Id != 0)
        {
            // edit
            title = "Edit Shipping Type";

        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ShippingName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShippingName" class=" form-control" />
                    <span asp-validation-for="ShippingName" class=" text-danger"></span>
                </div>
            </div>

            <!--ShippingDescription-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ShippingDescription"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShippingDescription" class=" form-control" />
                    <span asp-validation-for="ShippingDescription" class=" text-danger"></span>
                </div>
            </div>

            <!--Adding ShippingDescription -->
            <!--Adding ShippingACC-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ShippingACC"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShippingACC" class=" form-control" />
                    <span asp-validation-for="ShippingACC" class=" text-danger"></span>
                </div>
            </div>

            <!--Adding ShippingACC -->




            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />

                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}